backend:
  name: github
  repo: jordipintado/tu-repo # Pon aquí tu usuario/nombre-repo en GitHub
  branch: main # O master, según tu repo

media_folder: "images" # Carpeta para imágenes subidas
public_folder: "/images"

collections:
  - name: "posts"
    label: "Artículos"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Fecha", name: "date", widget: "datetime" }
      - { label: "Texto", name: "body", widget: "markdown" }
